body {
  font-family: "Source Sans Pro", sans-serif !important;
  background: #8701ad;
  background: linear-gradient(162deg, #8701ad 0%, #cc4845 100%); }

.text-light.opacity-5 {
  opacity: 0.5 !important; }

.text-light::after {
  content: '';
  width: 90px;
  height: 1px;
  display: block;
  margin: 20px auto 10px;
  background-color: white !important; }
